name: Validate Deployments

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]
  push:
    paths:
      - "deployments/*.json"
      - "scripts/validate-deployments.js"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate
        run: node scripts/validate-deployments.js
